<title>About</title>
<link rel = "icon" href = "logo.png" 
    type = "image/x-icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <div class="registration-form" style="position: absolute; width: 90vw;top: 5vh;" id="f1">
        <form action="" method="POST">
            
            <div class="form-group" style="text-align: center;">
               <h2 class="form-control item" style="font-size: 30px;">Online Examination System</h2>
            </div>
            <div class="form-group">
                <p class="form-control item">Today Online Examination System has become a fast growing examination method because of its speed and accuracy. It is also needed less manpower to execute the examination. Almost all organizations now-a-days, are conducting their exams by online examination system, it saves students time in examinations. Organizations can also easily check the performance of the student that they give in an examination. As a result of this, organizations are releasing results in less time. It also helps the environment by saving paper. What is an online examination system? In an online examination system where students and teachers can register themselves with their email  id's. When user login to the server he/she get his/her profile. Teacher can create a test and edit the test at any time. After creating the test a unique id is generated, this id is given to the students and students have to join exam by this id Teacher can manually stop test at any time. Students are allowed to submit only once. After submitting test, teacher can see their answers and give marks.</p>
             </div>
            <br>
          
            
    </div>
