<form action="/teacher/dashboard/test/addmcq/<%= id %>" method="POST" enctype="multipart/form-data">
<input type="text" name="ques" placeholder="Enter Questions" required>
<input type="text" name="qa" placeholder="Option a" required>
<input type="text" name="qb" placeholder="Option b" required>
<input type="text" name="qc" placeholder="Option c" required>
<input type="text" name="qd" placeholder="Option d" required>
<input type="file" name = "file">
<button type="submit">Save</button>
</form>