<h1><%= test.name %> </h1>
<h3><%= test.by %> </h3>

<% for(let i = 0;i<test.questions.length;++i) { %>
   <div class="ques">
       <h3><%= test.questions[i].q %> </h3>
       <a href="#">Answer</a>
       <a href="#">Reset</a>
   </div>

<% } %> 
 