
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">  
<link rel="stylesheet" href="/css/user.css">
<!------ Include the above in your HEAD tag ---------->
<h1>Student Login</h1>
<% for(let i = 0;i<err.length;++i){ %>
  <li> <%=err[i] %> </li>
   <% } %> 
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Login Here 
                <i class="far fa-arrow-alt-circle-down"></i>
            </p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Register Here 
                <i class="far fa-arrow-alt-circle-down"></i>
            </p>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
				<form action="/student/login_student" method="POST">
                <input type="text" name = "username" placeholder="Email" required>
                <input type="password"  name = "password" placeholder="Password" required>
                <button class = "but" type="submit">Login</button>
                    </form>
                
			</div>
			<div class="register-show">
				<h2>REGISTER</h2>
                <form action="/student/register_student" method="POST">
                    <input type="text" name = "username" placeholder="Email" required>
                    <input type="text" name = "roll_no" placeholder="Roll No." required>
                    <input type="password" name = "password" placeholder="Password" required>
                    <input type="password" name = "repassword" placeholder="Confirm Password" required>
                    <button class = "but" type="submit">Register</button>
                </form>
				
			</div>
		</div>
	</div>
    <script>
        
    $(document).ready(function(){
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');
    });
    
    
    $('.login-reg-panel input[type="radio"]').on('change', function() {
        if($('#log-login-show').is(':checked')) {
            $('.register-info-box').fadeOut(); 
            $('.login-info-box').fadeIn();
            
            $('.white-panel').addClass('right-log');
            $('.register-show').addClass('show-log-panel');
            $('.login-show').removeClass('show-log-panel');
            
        }
        else if($('#log-reg-show').is(':checked')) {
            $('.register-info-box').fadeIn();
            $('.login-info-box').fadeOut();
            
            $('.white-panel').removeClass('right-log');
            
            $('.login-show').addClass('show-log-panel');
            $('.register-show').removeClass('show-log-panel');
        }
    });
      
    
</script>


<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  
    <!-- Grid container -->
    <div class="container p-4">
      <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #3b5998; border-radius: 50%;"
      href="https://facebook.com/"
      role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>
  
    <!-- Twitter -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #55acee; border-radius: 50%;"
      href="https://twitter.com/?lang=en"
      role="button"
      ><i class="fab fa-twitter"></i
    ></a>
  
    <!-- Google -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #dd4b39; border-radius: 50%;"
      href="https://google.com/"
      role="button"
      ><i class="fab fa-google"></i
    ></a>
  
    <!-- Instagram -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #ac2bac; border-radius: 50%;"
      href="https://www.instagram.com/"
      role="button"
      >
      <i class="fab fa-instagram"></i>
    </a>
  
    <!-- Linkedin -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #0082ca; border-radius: 50%;"
      href="https://www.linkedin.com/in/lalit-kumar-5b80b8170/"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>
    <!-- Github -->
    <a
      class="btn btn-primary btn-floating m-1"
      style="background-color: #333333; border-radius: 50%;"
      href="https://github.com/Lalit-Kumar20/Software-Engineering-Project"
      role="button"
      ><i class="fab fa-github"></i
    ></a>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      
      Made With ❤  </div>
    <!-- Copyright -->
  </footer>