<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" href = "/logo.png" 
        type = "image/x-icon">
    <title>Teacher Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="registration-form" style="position: absolute; width: 90vw;top: 5vh;" id="f1">
        <form action="/teacher/register_teacher" method="POST">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Email" name="username" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control item" id="username" placeholder="Name" name="name" required>
          </div>
         
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password" name="password" required>
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Account</button>
            </div>
            <br>
          
            <div class="form-group">
              Already Have an account  &nbsp;&nbsp; &nbsp;<button type="button" class="btn" id = "bt" style="background: none;color: #47597E; text-decoration: underline;">SignIn</button>
              
          </div>
          <div class="form-group">
            <a href="/teacher/forgot">Forgot Password</a>           
        </div>
        </form>
        <div class="social-media">
            <h5>Sign up with Google</h5>
            <div class="social-icons">
              <a href="/te/auth/google"><i class="icon-social-google" title="Google"></i></a>
            </div>
        </div>
    </div>


    
    <div class="registration-form" style="visibility: collapse;width: 90vw;top: 5vh;" id="f2">
      <form action="/teacher/login_teacher" method="POST">
          <div class="form-icon">
              <span><i class="icon icon-user"></i></span>
          </div>
          <div class="form-group">
              <input type="text" class="form-control item" id="username" placeholder="Email" name="username" required>
          </div>
          <div class="form-group">
              <input type="password" class="form-control item" id="password" placeholder="Password" name="password" required>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-block create-account">Login</button>
          </div>
          <div class="form-group">
            Create account here   &nbsp;&nbsp; &nbsp;<button type="button" class="btn" id = "bt2" style="background: none;color: #47597E; text-decoration: underline;">SignUp</button>

        </div>
        <div class="form-group">
            <a href="/teacher/forgot">Forgot Password</a>           

        </div>
      </form>
      <div class="social-media">
          <h5>Sign in with Google</h5>
          <div class="social-icons">
              <a href="/te/auth/google"><i class="icon-social-google" title="Google"></i></a>
              </div>
      </div>
  </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>






<!-- 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">  
<link rel="stylesheet" href="/css/user.css">
<h1>Teacher Login</h1>
<div id = "err">
  <% for(let i = 0;i<err.length;++i){ %>
    <li> <%=err[i] %> </li>
     <% } %> 
  
</div>
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Login Here 
                <i class="far fa-arrow-alt-circle-down"></i>
            </p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Register Here 
                <i class="far fa-arrow-alt-circle-down"></i>
            </p>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
				<form action="/teacher/login_teacher" method="POST">
                <input type="text" name = "username" placeholder="Email" required>
                <input type="password"  name = "password" placeholder="Password" required>
                <button class = "but" type="submit">Login</button>
                    </form>
                    <a href="/te/auth/google">Continue with Google</a>
                
			</div>
			<div class="register-show">
				<h2>REGISTER</h2>
                <form action="/teacher/register_teacher" method="POST">
                    <input type="text" name = "username" placeholder="Email" required>
                    <input type="text" name = "name" placeholder="Full name" required>
                    <input type="password" name = "password" placeholder="Password" required>
                    
                    <input type="password" name = "repassword" placeholder="Confirm Password" required>
                    <button class = "but" type="submit">Register</button>
                </form>
                <a href="/te/auth/google">Continue with Google</a>
				
			</div>
		</div>
	</div> -->
    <script>
      

    document.getElementById('bt').addEventListener("click",()=>{
      if(document.getElementById('f2').style.visibility === "collapse"){

      
      document.getElementById('f2').style.visibility = "visible"
      document.getElementById('f1').style.visibility = "collapse"
      }  
      else {
        document.getElementById('f2').style.visibility = "collapse"
      document.getElementById('f1').style.visibility = "visible"
        
      }
    }
      )
      document.getElementById('bt2').addEventListener("click",()=>{
      if(document.getElementById('f2').style.visibility === "collapse"){

      
      document.getElementById('f2').style.visibility = "visible"
      document.getElementById('f1').style.visibility = "collapse"
      }  
      else {
        document.getElementById('f2').style.visibility = "collapse"
      document.getElementById('f1').style.visibility = "visible"
        
      }
    }
      )
      $(document).ready(function(){
  $('#birth-date').mask('00/00/0000');
  $('#phone-number').mask('0000-0000');
 })
      
    
</script>
